:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --focus-color: #2196f3;
  --accent-color: #212121;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section {
  padding: 94px 0;
}

.item {
  background-color: var(--primary-white-color);
}

.no-padding {
  padding-top: 0px;
}

/* Container */

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  background-color: tomato;
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--focus-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-abr {
  color: #000000;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav,
.auth-nav,
.subconteiner {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 93px;
}

.auth-nav {
  margin-left: auto;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--focus-color);
}

.auth-nav .contact {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .contact:hover,
.auth-nav .contact:focus {
  color: var(--focus-color);
}

/* Slogan section */

.slogan {
  color: var(--primary-white-color);
  background-color: #2f303a;
  text-align: center;
}

.slogan-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  color: var(--primary-white-color);
  background-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button:hover {
  background-color: #188ce8;
}

/* Advantage section */

.invisible {
  display: none;
}

.advantage,
.jobs,
.person {
  display: flex;
  flex-wrap: wrap;
}

.advantage > .item:not(:last-child) {
  margin-right: 30px;
}

.advantage > .item {
  width: 270px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.section-subject {
  margin-bottom: 10px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Jobs */

.jobs > .item:not(:last-child) {
  margin-right: 30px;
}

/*Team section */

.person > .item:not(:last-child) {
  margin-right: 30px;
}

.person > .item {
  width: 270px;
}

.team {
  background-color: #f5f4fa;
}

.section-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.section-text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.2;
}

.portfolio-info {
  margin: 20px 24px;
}

/* Footer section */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logo {
  color: var(--primary-white-color);
}

.footer-details {
  color: var(--primary-white-color);
}

.footer-nav {
  color: var(--primary-white-color);
  text-decoration: none;
}

.footer-nav:hover,
.footer-nav:focus {
  color: var(--focus-color);
}

.footer-details > .list {
  margin-top: 9px;
}

.footer-sub {
  margin-bottom: 20px;
}
.footer-item {
  margin-top: 9px;
}

/* Portfolio css */

.site-nav .active {
  color: var(--focus-color);
}

/* Offers */

.offers {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.item-offer:not(:last-child) {
  margin-right: 8px;
}
.button-offer {
  padding: 6px 22px;
  color: var(--accent-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
}

.button-offer:focus,
.button-offer:hover {
  color: var(--primary-white-color);
  background-color: var(--focus-color);
}

/* Jobs */

.portfolio-title {
  margin-bottom: 4px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-info {
  margin: 20px 24px;
}
.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-jobs {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-item {
  border-bottom: 1px solid #eeeeee;
  margin: 15px;
  width: 370px;
}
